.trending{
    color: white;
    font-size: 30px;
    margin-left: 35px;
    margin-top: 40px;
    position: relative;
   display: flex;   
   
}
.more{
    display: flex;
}
.img{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid rgb(71, 68, 68);
    padding: 1em;
}
.img .imgss{
    transition-property: all 3s ease-in linear;
    transition-duration: 1s;
    border-radius: 1em;
}
.img .imgss:hover{
    transform: scale(1.2);
    cursor: pointer;
    box-shadow: 5px 4px 5px 4px honeydew;
}
.img-div h3{
    color: white;
    font-size: 20px;
    margin-top: 5px;
    font-family: 'Times New Roman', Times, serif;
    word-spacing: 2px;
}
.img-div  p{
    color: slategray;
    margin-top: 1px;
}
.img-div{
    width: 100px;
    margin-left: 10px;
    height: 200;
}
.foot-img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 5px;
}
.foot-link{
    margin-top: 20px;
    display: flex;
    padding: 10px;
    align-items: center;
    margin-bottom: 10px;
}
.spann{
    margin-left: 5px; 
}
.span-h2{
    margin-left: 100px;
}
.span-h2 h2{
    color: white;
    font-size: 20px;
    font-weight: 200;
}
.connect h2{
    color: white;
    font-size:20px ;
    margin-left: 160px;
    word-spacing: 2px;
    cursor: pointer;
}
.connect h2:hover{
    color: blueviolet;
}
.ul li{
    list-style: none;
    margin-left: 30px;
    color: white;
    padding: 1em;
}
.ul{
    display: flex;
    margin-left:200px;
    

}
.ul li a{
    text-decoration: none;
    margin-left: 25px;
    color: rgb(187, 168, 168);
    transition-property: all 1s linear;
    transition-duration: 1s;
}
.ul li a:hover{
    color: blueviolet;
    border-bottom: 2px solid white;
    box-shadow: 0px 2px blueviolet;
}
.last-div{
    display: flex;
    justify-content: center;
    margin-top: 2em;
}
.last-div ul h3{
    color: white;
    margin-bottom: 1.5em;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
}
.last-div ul li{
    color: #746f78;
    list-style: none;
    font-size: 15px;
    line-height: 2em;

}
.last-div ul li:hover{
    color: blueviolet;
    cursor: pointer;
}
.copy-right{
    width: 900px;
}
.copy-right p{
    color:#746f78 ;
    margin-left: 75px;
    font-size: 13px;
    margin-top: 5em;
    margin-bottom: 10em;
}
#Vijaykumar{
    color: greenyellow;
    text-align: center;
    font-size: xx-large;
    margin-bottom: 2em;
    text-transform: uppercase;
    font-family: monospace;
    word-spacing: 1em;
    letter-spacing: 3px;
}




